<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{../static.assets/css/headers.css}"/>
    <link rel="stylesheet" th:href="@{../static.assets/css/bootstrap.min.css}"/>
    <link href="/static.assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static.assets/css/headers.css" rel="stylesheet">
    <header class="container" th:fragment="header">
        <div class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">

                <span class="fs-4">Project56</span>
            </a>

            <ul class="nav nav-pills">
                <li class="nav-item"><a href="../index.html" class="nav-link active" aria-current="page">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link">About us</a></li>
                <li class="nav-item"><a href="../login.html" class="nav-link">Sign in</a></li>
                <li class="nav-item"><a href="../signup.html" class="nav-link">Sign up</a></li>
            </ul>
        </div>
    </header>
    <div class="container" th:fragment="footer">
        <footer class="py-3 my-4">
            <p class="text-center text-muted">&copy; 2022 Project56</p>
        </footer>
    </div>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


</head>

</html>