<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Index</title>
    <link href="../static.assets/css/bootstrap.min.css" rel="stylesheet">
    

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <link href="/static.assets/css/headers.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">

            <span class="fs-4">Project56</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href=index.html class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link">About us</a></li>
            <li class="nav-item"><a href=login.html class="nav-link">Sign in</a></li>
            <li class="nav-item"><a href=signup.html class="nav-link">Sign up</a></li>
        </ul>
    </header>
    <main>


        <div class="px-4 pt-5 my-5 text-center border-bottom">
            <h1 class="display-4 fw-bold">Project56CSITCP</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">We focus on your return service,
                    We provide customers with one-stop express service without leaving home.
                    Whether you need to move something across town,
                    between cities or across the country.</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                    <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3" onclick="window.location.href='main.html'"
                    >Send Request</button>
                </div>
            </div>
        </div>
    </main>

    <div class="container">
        <footer class="py-3 my-4">
            <p class="text-center text-muted">&copy; 2022 Project56</p>
        </footer>
    </div>
</div>

</body>
</html>