<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>


    <!-- Bootstrap core CSS -->
    <link href="../static.assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static.assets/css/signin.css" rel="stylesheet">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>





</head>
<body class="text-center" >

<div th:replace="common/common :: header"></div>


<main role="main" class="container ">
    <div class="form-signin">
        <form action="#" th:action="@{/users/add}" th:object="user">
            <h1 class="h3 mb-3 fw-normal">Please sign up</h1>

            <div class="form-floating">
                <input type="email" class="form-control" id="email" placeholder="name@example.com" >
                <label for="email">Email address</label>
            </div><br/>
            <div class="form-floating">
                <input type="text" class="form-control" id="username" placeholder="text">
                <label for="username">Username</label>
            </div><br/>
            <div class="form-floating">
                <input type="password" class="form-control" id="password" placeholder="Password">
                <label for="password">Password</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="password2" onkeyup="checkpassword()"
                       placeholder="Check Password"><span id="tishi"></span>
                <label for="password2">Enter password again</label>
            </div><br/>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
            <p class="mt-5 mb-3 text-muted"></p>

        </form>

    </div>
</main>


<div th:replace="common/common :: footer"> </div>


<script type="text/javascript">
    function checkpassword() {
        var password = document.getElementById("password").value;
        var repassword = document.getElementById("password2").value;

        if(password == repassword) {
            document.getElementById("tishi").innerHTML="<br><font color='green'>Correct!</font>";
            document.getElementById("submit").disabled = false;

        }else {
            document.getElementById("tishi").innerHTML="<br><font color='red'>The two passwords are inconsistent!</font>";
            document.getElementById("submit").disabled = true;
        }
    }

    function jump(){
        window.location.href="http://blog.sina.com.cn/mleavs";
    }

</script>
</body>

</html>